<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="icon" type="image/x-icon" href="" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd@<%= htmlWebpackPlugin.options.cdnVersion.antd %>/dist/antd.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@<%= htmlWebpackPlugin.options.cdnVersion.nprogress %>/nprogress.css" />
	<title><%= (htmlWebpackPlugin.options.title) %></title>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/react@<%= htmlWebpackPlugin.options.cdnVersion.react %>/umd/react.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-dom@<%= htmlWebpackPlugin.options.cdnVersion.reactDom %>/umd/react-dom.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-router@<%= htmlWebpackPlugin.options.cdnVersion.reactRouter %>/umd/react-router.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-router-dom@<%= htmlWebpackPlugin.options.cdnVersion.reactRouterDom %>/umd/react-router-dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobx@<%= htmlWebpackPlugin.options.cdnVersion.mobx %>/lib/mobx.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobx-react@<%= htmlWebpackPlugin.options.cdnVersion.mobxReact %>/dist/mobx-react.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@<%= htmlWebpackPlugin.options.cdnVersion.axios %>/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/antd@<%= htmlWebpackPlugin.options.cdnVersion.antd %>/dist/antd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nprogress@<%= htmlWebpackPlugin.options.cdnVersion.nprogress %>/nprogress.min.js"></script>
<div id="root"></div>
</body>
</html>
